---
layout: default
title: Blake's Movie List
movies:
- title: Pulp Fiction
  watched: false
- title: Ghostbusters
  watched: false
- title: Groundhog Day
  watched: false
- title: Star Wars
  watched: false
- title: What About Bob?
  watched: false
- title: Zombieland
  watched: false
- title: The Goonies
  watched: false
- title: The Shawshank Redemption
  watched: false
- title: Amelie
  watched: false
- title: The Royal Tenenbaums
  watched: false
- title: Kill Bill
  watched: false
- title: True Romance
  watched: false
- title: Reservoir Dogs
  watched: false
- title: Slacker
  watched: false
- title: Con Air
  watched: false
- title: Shaun of the Dead
  watched: false
- title: Hot Fuzz
  watched: false
- title: Schindler's List
  watched: false
- title: 2001: A Space Odessy
  watched: false
- title: Inglorious Basterds
  watched: false
- title: The Artist
  watched: false
- title: The Good, The Bad, and The Ugly
  watched: false
---

<div id="home">
  <ul class="movies">
    {% for movie in page.movies %}
      <li {% if movie.watched %}class="watched"{% endif %}>- {{ movie.title }}</li>
    {% endfor %}
  </ul>
</div>
